/* Cascading Style Sheet */

/* -------------------------------------------------------------------------- */
/* Main Body                                                                  */
/* -------------------------------------------------------------------------- */

a:active  { color: #00FF00; background-color: transparent; }
a:visited { color: #6464FF; background-color: transparent; }
a:link    { color: #6464FF; background-color: transparent; }
a:hover   { color: #963C19; background-color: transparent; }

body {
	background-color: #000000;
    color: #FAEBD7;
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}

h1 {
	background-color: #963C19;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	box-shadow: 2px 3px 2px #333333;
	margin-top: 0;
	padding: 5px 10px;
	text-shadow: 2px 2px #000000;
}

h2 {
	background-color: #963C19;
	box-shadow: 2px 3px 2px #333333;
	padding: 5px 10px;
	text-shadow: 2px 2px #000000;
}

h5 {
	background-color: #963C19;
	border-bottom-left-radius: .75em;
	border-bottom-right-radius: .75em;
	box-shadow: -2px -3px 2px #333333;
	margin-bottom: 12px;
	padding: 5px 10px;
	text-shadow: 2px 2px #000000;
}

ol ul {

	padding-left: 15px;

}

p {
	padding: 0 5px;
	text-align: justify;
	text-indent: 20px;
}

.body {
	width: 800px;
}

.body-one {
	padding: 10px 50px;
	padding-top: 0;
}

.body-two {
	padding: 10px 50px;
	padding-top: 0;
	text-align: justify;
	text-indent: 25px;
}

.borders {
	border: 2px solid #963C19;
	border-radius: 1.5em;
    box-shadow: 2px 3px 2px #333333;
    margin-bottom: 5px;
    margin-top: 5px;
}

.comingSoon {
	color: #FF0000;
}

.current {
	color: #FAEBD7;
	text-decoration: underline;
}

.dashed {
	border: 1px dashed #963C19;
	text-align: justify;
	vertical-align: top;
}

.dashed2 {
	border-bottom: 1px dashed #963C19;
	padding: 2px;
	text-align:justify;
	vertical-align: top;
}

.left {
	margin-left: 25px;
}

.right {
	margin-right: 25px;
}

.tabled {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0 5px;
	text-align: left;
	text-indent: 20px;
}

.lightbox {
	background: rgba(0,0,0,0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;
}

.lightbox img {
	margin-top: 2%;
	max-height: 95%;
	max-width: 95%;
}

.lightbox:target {
	display: block;
	outline: none;
}